*, *::after *::before {
  box-sizing: border-box;
}

body {
  /* background: rgb(150, 143, 143); */
  margin: 0;
  padding: 0;
  text-align: center;
}

.background-container {
  /* display: flex;
  flex-direction: column; */

}

.intro-content {
  margin-top: 20rem;
}