:root {
  /* --clr-b: rgb(160, 80, 80);
  --clr-a: rgb(141, 163, 177);

  --clr-code-b: rgb(211, 185, 185);
  --clr-code-hl: rgb(87, 86, 86); */


  --clr-code-a: rgb(226, 221, 221);
  --clr-code-b: rgb(146, 152, 168);
}

*, *::after *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  /* background: rgba(58, 5, 5, 0.144) !important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  /* background: rgb(168, 173, 168); */
}

body {
  /* background: rgb(150, 143, 143); */
  /* margin: 0;
  padding: 0; */
  /* text-align: center; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(214, 213, 164); */
  background: var(--clr-code-b);
}

p, h1, h2, h3, h4 {
  text-align: left;
}

.background-container {}

.text-padding-s {
  /* width: 40rem; */
  max-width: 42rem;
  margin: auto;
  /* text-align: left; */
  /* padding-bottom: 2rem; */
  height: 23rem;
}

.text-padding-s :nth-child(1) {
  font-size: 2rem;
}

.text-padding-s :nth-child(2) {
  font-size: 3.5rem;
  border-bottom: 2px solid black;
}

.intro-container {
  /* border-bottom: 3px solid rgb(3, 3, 3); */
}

.intro-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  font-size: 1.5rem;
  background: var(--clr-code-a);
}

.skills-container {
  display: flex;
  column-gap: .75rem;
  padding: 15px;
  background: var(--clr-code-a);
  justify-content: center;
  width: 40rem;
  margin: auto;
  border-left: 10px solid rgb(82, 78, 78);
}

.skills-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  border-radius: 20px;
  width: 5rem;
  font-size: 1.4rem;
}

.skills-content p {
  font-weight: 500;
  padding: 5px;
  text-decoration: overline 2px;
}

.emphasise-text {
  font-size: 3rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
  height: 3rem;
  width: 12rem;
  /* border: 2px solid rgb(17, 16, 16); */
  /* background: rgb(117, 113, 113); */
  /* background: var(--clr-code-b); */
  border: 2px solid black;
  border-top-left-radius: 10px;
  /* border-left: 7px solid black; */
  margin: auto;
  /* margin-top: 3rem; */
  cursor: pointer;
}

.btn:hover {
  background: rgb(174, 201, 166);
}

.btn, code {
  padding-top: 1rem;
}

.btn:hover {}

.contact-container {}

.contact {
  position: absolute;
  margin-top: 3rem;
  width: 12rem;
  font-weight: 600;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  cursor: pointer;
  border: 3px solid rgba(5, 5, 5, 0.808);
}

.contact:hover {
  background: rgb(190, 190, 180);
}

.contact-text {
  font-size: 1.2rem;
  text-align: center;
}

.about-container {
  /* background: var(--clr-a); */
  /* border: 3px solid black; */
  width: max-content;
  margin: auto;
  /* text-align: left; */
}

.about-container p {
  height: .8rem;
  font-size: 1.3rem;
  font-weight: 600;
}

.sidebar {
  width: fit-content;
  padding-right: 1rem;
  background: var(--clr-code-a);
  height: 100vh;
  position: fixed;
  border-right: 2px solid black;
}

.sidebar ul {
  list-style: none;
  font-size: 2.2rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.sidebar ul li {
  cursor: pointer;
}

.sub-title {
  border-bottom: 2px solid black;
  /* width: 15rem; */
}

.work-container {
  height: 20rem;
  background: var(--clr-code-a);
  /* width: 50rem; */
  margin: auto;
  margin-top: 2rem;
}

.monitor-container {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: rgb(179, 179, 120); */
}

.monitor-container>div {
  /* background: black; */
}

.monitor-base {
  height: 10rem;
  width: 20rem;
  background: rgb(204, 207, 190);
  border: 5px solid black;
  border-radius: 5px;
}

.shape-block {
  width: .2rem;
  height: 1.1rem;
  background: black;
  position: absolute;
  margin-left: .2rem;
  margin-top: .3rem;
}

.monitor-stand-a {
  width: 1rem;
  height: 0;
  border-bottom: 40px solid black;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.screen-a-container {
  position: absolute;
  transform: translate(0px, 5px);
}

.screen-a-base {
  display: flex;
}

.screen-a-window {
  width: 8rem;
  height: 9.6rem;
  border-left: 30px solid var(--clr-code-hl);
  border-top: 7px solid var(--clr-code-hl);
  background: var(--clr-code-b);
}

.screen-b-window {
  width: 10.2rem;
  height: 9.6rem;
  background: rgb(212, 211, 197);
  border-top: 7px solid green;
}

.monitor-stand-b {
  width: 5rem;
  height: .2rem;
  background: black;
}

.desk {
  height: 1rem;
  width: 30rem;
  background: rgb(90, 57, 26);
}

.flex-row {
  display: flex;
}

.keyboard {
  height: .5rem;
  width: 12rem;
  background: rgb(82, 76, 76);
}

.mouse {
  width: 2rem;
  height: .5rem;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background: rgb(68, 83, 133);
  margin-left: 2rem;
}

.bottle {
  height: 5rem;
  width: 2rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background: rgba(135, 141, 135, 0.911);
  position: absolute;
  transform: translate(-80px, 145px);
}

.bottle-top {
  position: absolute;
  transform: translate(-80px, 138px);
  height: .5rem;
  width: 1rem;
  background: rgb(128, 152, 184);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}