.debug-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 1px;
}

.debug-container div {
}

.debug-a {
    background: red;
    width: 40rem;
    height: .15rem;

}

.debug-b {
    background: blue;
    width: 30rem;
    height: .05rem;
}